<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Menu Preparation Suite</h1>
<p>This will eventually be the location for a set of apps to aid in menu planning 
and preparation.</p>

<h2>Random Menu</h2>
<p>A random menu for your consideration .....</p>
<p>Main dish: <%= @maindish.name %></p>
<p>Side dish: <%= @sidedish.name %></p>
<p>Treat: <%= @treat %></p>
<%= link_to "Try again!", '#', class: "btn btn-lg btn-primary" %>
</div>
<p>Powered by Ruby on Rails!</p>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

